*{
    padding:0;
    margin:0;
  }
  body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    z-index: -3;
    background: rgb(255, 255, 255);
  }
  .radial-menu{
    background-color: deepskyblue;
    width:100px;
    height:100px;
    margin:auto;
    position:relative;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    font-size: 50px;
    color: white;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.32), -1px -3px 5px rgba(0, 0, 0, 0.13) inset, 1px 3px 4px rgba(236, 69, 151, 0.3) inset;
  }
  .radial-menu:hover{
  background-color:  deepskyblue;
  }
  .larger-area{
  background: transparent;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  z-index: -2;
  transition: 1s ease;
  cursor:default;
  }
  .radial-menu:hover .larger-area{
  width: 230px;
  height: 230px;
  transition: 1s ease;
  }
  .menu-item{
    position:absolute;
    width:50px;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:-1;
    border-radius:50%;
    top:calc(50% - 25px);
    left: 50%;
    transform-origin: 0;
    transition: 1s ease;
    font-size: 30px;
    color: #2e2e2e;
  }
  .radial-menu:hover .menu-item{
  top:-60px;
  left: 0;
  transition: 1s ease;
  transform-origin: calc(100%) calc(100% + 60px);
  }
  ._1{
    background-image: linear-gradient(#eafdf9, #BDDDD7);
    transform:rotate(0);
  }
  ._1:hover{
    background-image: linear-gradient(hsl(167, 13%, 77%), #93a8a4);
    transition: background-image 0s;
  }
  ._1>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._1>div{
    transform:rotate(calc(360deg));
    transition: 1s ease;
  }
  ._2{
    background-image: linear-gradient(-90deg,#b09aff, #7A64CA);
    transform:rotate(-45deg);
  }
  ._2:hover{
    background-image: linear-gradient(-90deg,#7f6cc1, #524387);
    transition: background-image 0s;
  }
  ._2>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._2>div{
    transform:rotate(calc(45deg + 360deg));
    transition: 1s ease;
  }
  ._3{
    background-image: linear-gradient(-90deg, #fde7ea, #DDBEC3);
    transform:rotate(-90deg);
  }
  ._3:hover{
    background-image: linear-gradient(-90deg, #d7c2c5, #ae9297);
    transition: background-image 0s;
  }
  ._3>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._3>div{
    transform:rotate(calc(90deg + 360deg));
    transition: 1s ease;
  }
  ._4{
    background-image: linear-gradient(-45deg, #c1cfff, #889AD9);
    transform:rotate(-135deg);
  }
  ._4:hover{
    background-image: linear-gradient(-45deg, #a8b4dc, #6a77a6);
    transition: background-image 0s;
  }
  ._4>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._4>div{
    transform:rotate(calc(135deg + 360deg));
    transition: 1s ease;
  }
  ._5{
    background-image: linear-gradient(0deg, #fb9084, #C5685E);
    transform:rotate(-180deg);
  }
  ._5:hover{
    background-image: linear-gradient(0deg, #c77066, #964e47);
    transition: background-image 0s;
  }
  ._5>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._5>div{
    transform:rotate(calc(180deg + 360deg));
    transition: 1s ease;
  }
  ._6{
    background-image: linear-gradient(45deg, #dbeaec, #90a4a6);
    transform:rotate(-225deg);
  }
  ._6:hover{
    background-image: linear-gradient(45deg, #bfcdcf, #6f8285);
    transition: background-image 0s;
  }
  ._6>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._6>div{
    transform:rotate(calc(225deg + 360deg));
    transition: 1s ease;
  }
  ._7{
    background-image: linear-gradient(90deg, #fbf4f8, #DFCED8);
    transform:rotate(-270deg);
  }
  ._7:hover{
    background-image: linear-gradient(90deg, #dcced6, #aea0a9);
    transition: background-image 0s;
  }
  ._7>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._7>div{
    transform:rotate(calc(270deg + 360deg));
    transition: 1s ease;
  }
  ._8{
    background-image: linear-gradient(135deg, #fbf5f1, #DED5CE);
    transform:rotate(-315deg);
  }
  ._8:hover{
    background-image: linear-gradient(135deg, #d7cec8, #9c9189);
    transition: background-image 0s;
  }
  ._8>div{
    transform:rotate(0);
    transition: 1s ease;
  }
  .radial-menu:hover ._8>div{
    transform:rotate(calc(315deg + 360deg));
    transition: 1s ease;
  }
  @keyframes rot{
    100%{transform:rotate(360deg);}
  }
  